[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "concreg"]
	path = concreg
	url = https://github.com/georgheinze/concreg
	shallow = true
	registered = true
[submodule "coxphf"]
	path = coxphf
	url = https://github.com/georgheinze/coxphf
	shallow = true
	registered = true
[submodule "logistf"]
	path = logistf
	url = https://github.com/georgheinze/logistf
	shallow = true
	registered = true
[submodule "mfp"]
	path = mfp
	url = https://github.com/georgheinze/mfp
	shallow = true
	registered = true
[submodule "SurvCorr"]
	path = SurvCorr
	url = https://github.com/cran/SurvCorr
	shallow = true
	registered = true
