[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SurvCorr"]
	path = SurvCorr
	url = https://github.com/cran/SurvCorr
[submodule "concreg"]
	path = concreg
	url = https://github.com/georgheinze/concreg
[submodule "coxphf"]
	path = coxphf
	url = https://github.com/georgheinze/coxphf
[submodule "logistf"]
	path = logistf
	url = https://github.com/georgheinze/logistf
[submodule "mfp"]
	path = mfp
	url = https://github.com/georgheinze/mfp
